MODEL_NAME=qwen-plus
EMBEDDING_MODEL=text-embedding-v3

OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# Redis 配置
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# 短期记忆配置
MEMORY_KEY_PREFIX=your_memory_key_prefix
MEMORY_SESSION_ID=user_001
MEMORY_TTL_SECONDS=1800

MEM0_API_KEY=your_mem0_api_key
MEM0_USER_ID=demo_user_001
MEM0_TOP_K=5

# 用于身份验证，实现链路上报  
LANGCHAIN_API_KEY=your_langchain_api_key
# 指定LangSmith中的项目，追踪结果会归类到该项目下
LANGCHAIN_PROJECT=mem0-test
# 开启LangSmith追踪功能
LANGCHAIN_TRACING_V2=true
