MODEL_NAME=qwen-plus
EMBEDDING_MODEL=text-embedding-v3

OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# 用于身份验证，实现链路上报  
LANGCHAIN_API_KEY=your_langchain_api_key
# 指定LangSmith中的项目，追踪结果会归类到该项目下
LANGCHAIN_PROJECT=deep-research-assistant
# 开启LangSmith追踪功能
LANGCHAIN_TRACING_V2=true

BOCHA_API_KEY=your_bocha_api_key
